@import "~react-toolbox/lib/commons";

:global {
  .customized {
    color: green !important;
    font-weight: bold;
  }

  .masthead {
    background: black;
    color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 70px;
    font-size: 5em;
  }

  .sign-up-learn-more {
    display: flex;

    .member-btn, .client-btn {
      flex: 1;

      button {
        line-height: 2;
        height: auto;
        display: block;
        width: 100%;
        padding: 2em;
      }

      strong {
        font-size: 2em;
      }
    }
  }

  .mission {
    width: 500px;
    margin: 0 auto;
    padding: 2em 0;

    p {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    h1 {
      font-size: 1em;
      text-align: center;
      margin-bottom: 1em;
    }
  }

  .features {
    display: flex;
    padding: 1em 2em;

    .feature {
      flex: 1;
      padding: 1em;
      box-shadow: none;
      text-align: center;

      .feature-card-title {
        justify-content: center;
      }

      .feature-card-img {
        width: 5em;
        height: 5em;
        margin: 0 auto;
        background-size: contain;
      }
    }
  }

  .prompt {
    text-align: center;
    padding: 2em 0 4em;
    font-size: 1.2em;
  }

  .partners {
    > header {
      text-align: center;
      width: 50%;
      margin: 0 auto 3em;

      h1 {
        line-height: 3;
        font-size: 1.2em;
      }

      h2 {
        line-height: 2;
        font-size: 1em;
      }
    }

    > .content {
      display: flex;
      flex-wrap: wrap;

      > a {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 1em;
      }

      .partner-card {
        box-shadow: none;

        .partner-main-img {
          height: 200px;
          display: flex;
          align-items: center;

          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin: 0 auto;

            .material-icons {
              flex: 1;
            }
          }
        }

        .partner-logo {
          text-align: center;
          padding: 1em 0;

          > img {
            height: 40px;
          }
        }
      }
    }
  }

  footer {
    > .content {
      display: flex;

      > * {
        flex: 1;
        line-height: 1.6;

        &.logo {
          text-align: center;
          font-size: 3em;
        }

        h1 {
          font-size: 1em;
          text-transform: uppercase;
          margin-bottom: .4em;
        }

        ul {
          text-transform: capitalize;
          list-style-type: none;
        }
      }
    }

    .trademark-text {
      text-align: center;
      font-size: .6em;
      margin: 4em 0 2em;
    }
  }
}
