@import "~react-toolbox/lib/commons";

.footer {
  background: $color-primary-dark;
  color: darken($color-white, 40%);
  padding: 3em 0 2em;

  > .content {
    display: flex;

    > * {
      flex: 1;
      line-height: 1.6;

      &.logo {
        text-align: center;
        line-height: 1;
        font-size: 4em;
      }

      h1 {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: .4em;
      }

      ul {
        list-style-type: none;

        li:not(.email) {
          text-transform: capitalize;
        }
      }
    }
  }

  .trademark-text {
    text-align: center;
    font-size: .6em;
    margin: 4em 0 0;
  }
}
