$tab-text: $color-white !default;
$tab-pointer-color: $tab-text !default;
$tab-navigation-border-color: transparent !default;
$tab-pointer-height: .1rem !default;

$color-primary-dark: $color-black !default;

$button-neutral-color-contrast: darken($color-white, 20%) !default;

