$tab-text: $color-white;
$tab-pointer-color: $tab-text;
$tab-navigation-border-color: transparent;
$tab-pointer-height: .1rem;

$color-text: darken($color-white, 20%) !important;
$color-primary: lighten($color-black, 20%);
$color-primary-dark: $color-black;

